---
name: apply
on:
  push:
    # branches: [main]
    branches: [dummy] # Disabled
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TFACTION_IS_APPLY: 'true'
permissions:
  id-token: write
  contents: read
  issues: read # this is required to `gh pr list`'s `-l` option
  pull-requests: write
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      tfmigrate_targets: ${{ steps.list-targets.outputs.tfmigrate_targets }}
      terraform_targets: ${{ steps.list-targets.outputs.terraform_targets }}
    steps:
      - uses: actions/checkout@v2
      - uses: aquaproj/aqua-installer@v0.7.0
        with:
          aqua_version: v0.10.2

      - uses: suzuki-shunsuke/tfaction/list-targets@v0.2.0
        id: list-targets

  tfmigrate-apply:
    runs-on: ubuntu-latest
    needs: setup
    # if services is empty, the build job is skipped
    if: "join(fromJSON(needs.setup.outputs.tfmigrate_targets), '') != ''"
    strategy:
      fail-fast: false
      matrix:
        target: ${{fromJSON(needs.setup.outputs.tfmigrate_targets)}}
    env:
      TFACTION_TARGET: ${{matrix.target}}
    steps:
      - uses: actions/checkout@v2
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: aquaproj/aqua-installer@v0.7.0
        with:
          aqua_version: v0.10.2

      - uses: suzuki-shunsuke/tfaction/setup@v0.2.0
        id: setup
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}
          ssh_key: ${{ secrets.TERRAFORM_PRIVATE_MODULE_SSH_KEY }}

      - uses: suzuki-shunsuke/tfaction/tfmigrate-apply@v0.2.0
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}

      - uses: suzuki-shunsuke/tfaction/create-follow-up-pr@v0.2.0
        if: failure()
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}

  terraform-apply:
    runs-on: ubuntu-latest
    needs: setup
    # if services is empty, the build job is skipped
    if: "join(fromJSON(needs.setup.outputs.terraform_targets), '') != ''"
    strategy:
      fail-fast: false
      matrix:
        target: ${{fromJSON(needs.setup.outputs.terraform_targets)}}
    env:
      TFACTION_TARGET: ${{matrix.target}}
    steps:
      - uses: actions/checkout@v2
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: aquaproj/aqua-installer@v0.7.0
        with:
          aqua_version: v0.10.2

      - uses: suzuki-shunsuke/tfaction/setup@v0.2.0
        id: setup
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}
          ssh_key: ${{ secrets.TERRAFORM_PRIVATE_MODULE_SSH_KEY }}

      - uses: suzuki-shunsuke/tfaction/terraform-apply@v0.2.0
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}

      - uses: suzuki-shunsuke/tfaction/create-follow-up-pr@v0.2.0
        if: failure()
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}
