---
name: conftest-verify
on:
  pull_request:
    branches: [main]
    paths:
    - '**.rego'
    - .github/workflows/conftest-verify.yaml
    - aqua/conftest.yaml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: aquaproj/aqua-installer@v0.6.0
        with:
          aqua_version: v0.10.0
      - run: github-comment exec -- conftest verify --no-color -p policy/terraform
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
