---
# This workflow is optional
name: Release a Terraform Module
run-name: Release a Terraform Module (${{inputs.module_path}} ${{inputs.version}})
on:
  workflow_dispatch:
    inputs:
      module_path:
        description: "Module path"
        required: true
      version:
        description: "Module version"
        required: true
env:
  TFACTION_TARGET: ${{github.event.inputs.module_path}}
jobs:
  release-module:
    timeout-minutes: 30
    name: "release-module (${{github.event.inputs.module_path}})"
    runs-on: ubuntu-latest
    permissions:
      contents: write # To create a release
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.6

      - uses: suzuki-shunsuke/tfaction/release-module@4562d910bbacecf384c8aeda25332284fcf05f38 # v1.20.1
        with:
          version: ${{ github.event.inputs.version }}
          module_path: ${{ github.event.inputs.module_path }}
