---
# This workflow is optional
name: Release a Terraform Module
run-name: Release a Terraform Module (${{inputs.module_path}} ${{inputs.version}})
on:
  workflow_dispatch:
    inputs:
      module_path:
        description: "Module path"
        required: true
      version:
        description: "Module version"
        required: true
env:
  TFACTION_TARGET: ${{github.event.inputs.module_path}}
jobs:
  release-module:
    timeout-minutes: 30
    name: "release-module (${{github.event.inputs.module_path}})"
    runs-on: ubuntu-latest
    permissions:
      contents: write # To create a release
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.47.0

      - uses: suzuki-shunsuke/tfaction/release-module@18b4dc6d6eced922db7d4eb90ea71330969725d4 # v1.16.1
        with:
          version: ${{ github.event.inputs.version }}
          module_path: ${{ github.event.inputs.module_path }}
