---
name: Release a Terraform Module
on:
  workflow_dispatch:
    inputs:
      module_path:
        description: 'Module path'
        required: true
      version:
        description: 'Module version'
        required: true
permissions:
  contents: write
env:
  TFACTION_TARGET: ${{github.event.inputs.module_path}}
jobs:
  release-module:
    name: "release-module (${{github.event.inputs.module_path}})"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - uses: aquaproj/aqua-installer@36dc5833b04eb63f06e3bb818aa6b7a6e6db99a9 # v2.1.2
        with:
          aqua_version: v2.12.0

      - uses: suzuki-shunsuke/tfaction/release-module@c19010890ae374e60dcce2a254fda7cc06288744 # v0.6.5
        with:
          version: ${{ github.event.inputs.version }}
          module_path: ${{ github.event.inputs.module_path }}
