---
# This workflow is optional
name: Scaffold Terraform Module
run-name: Scaffold Terraform Module (${{inputs.module_path}})
on:
  workflow_dispatch:
    inputs:
      module_path:
        description: "module path"
        required: true
      template_dir:
        type: choice
        default: templates/module-hello
        options:
          - templates/module-hello
jobs:
  scaffold:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    env:
      TFACTION_MODULE_PATH: ${{inputs.module_path}}
      TFACTION_MODULE_TEMPLATE_DIR: ${{inputs.template_dir}}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.1
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
          # pull_requests:write - Create pull requests
          # contents:write - Push commits
          permissions: >-
            {
              "pull_requests": "write",
              "contents": "write"
            }
          repositories: >-
            ["${{github.event.repository.name}}"]

      - uses: suzuki-shunsuke/tfaction/scaffold-module@4562d910bbacecf384c8aeda25332284fcf05f38 # v1.20.1
        with:
          github_token: ${{steps.generate_token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/create-scaffold-module-pr@4562d910bbacecf384c8aeda25332284fcf05f38 # v1.20.1
        with:
          github_token: ${{steps.generate_token.outputs.token}}
