---
name: scaffold working directory
on:
  workflow_dispatch:
    inputs:
      target:
        description: 'target'
        required: true
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  TFACTION_TARGET: ${{github.event.inputs.target}}
permissions:
  id-token: write
  contents: read
  pull-requests: write
jobs:
  scaffold:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - uses: aquaproj/aqua-installer@36dc5833b04eb63f06e3bb818aa6b7a6e6db99a9 # v2.1.2
        with:
          aqua_version: v2.12.0

      - uses: suzuki-shunsuke/tfaction/scaffold-working-dir@0cc5a3def9efd283a68665d32ea3310d22123ec2 # v0.6.8

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: suzuki-shunsuke/tfaction/create-scaffold-pr@0cc5a3def9efd283a68665d32ea3310d22123ec2 # v0.6.8
        with:
          github_app_token: ${{ steps.generate_token.outputs.token }}
