---
# This workflow is optional
name: Scaffold Terraform Module
run-name: Scaffold Terraform Module (${{inputs.module_path}})
on:
  workflow_dispatch:
    inputs:
      module_path:
        description: "module path"
        required: true
      template_dir:
        type: choice
        default: templates/module-hello
        options:
          - templates/module-hello
jobs:
  scaffold:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    env:
      TFACTION_MODULE_PATH: ${{inputs.module_path}}
      TFACTION_MODULE_TEMPLATE_DIR: ${{inputs.template_dir}}
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@f13c5d2f0357708d85477aabe50fd3f725528745 # v3.1.0
        with:
          aqua_version: v2.42.2
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
          # pull_requests:write - Create pull requests
          # contents:write - Push commits
          permissions: >-
            {
              "pull_requests": "write",
              "contents": "write"
            }
          repositories: >-
            ["${{github.event.repository.name}}"]

      - uses: suzuki-shunsuke/tfaction/scaffold-module@d4b16993b0b434b36c1a94c25c2fcb0c18d867d4 # v1.15.0
        with:
          github_token: ${{steps.generate_token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/create-scaffold-module-pr@d4b16993b0b434b36c1a94c25c2fcb0c18d867d4 # v1.15.0
        with:
          github_token: ${{steps.generate_token.outputs.token}}
