---
name: Scaffold tfmigrate
run-name: Scaffold tfmigrate (${{inputs.target}})
on:
  workflow_dispatch:
    inputs:
      target:
        description: 'target'
        required: true
      migration_name:
        description: 'migration name. e.g. "import_foo"'
        required: true
      pr_number:
        description: Pull Request Number
        required: false
env:
  TFACTION_TARGET: ${{github.event.inputs.target}}
jobs:
  scaffold:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.APP_ID}}
          private_key: ${{secrets.APP_PRIVATE_KEY}}
          # pull_requests:write - Create pull requests
          # contents:write - Push commits
          permissions: >-
            {
              "pull_requests": "write",
              "contents": "write"
            }
          repositories: >-
            ["${{github.event.repository.name}}"]

      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.31.0
        env:
          GITHUB_TOKEN: ${{github.token}}

      - uses: suzuki-shunsuke/tfaction/scaffold-tfmigrate@01829b75913b9424932c982b2d9e05ee908b647f # v1.5.2
        with:
          github_token: ${{steps.generate_token.outputs.token}}
          migration_name: ${{github.event.inputs.migration_name}}
          pr_number: ${{inputs.pr_number}}
