---
name: scaffold tfmigrate
on:
  workflow_dispatch:
    inputs:
      target:
        description: 'target'
        required: true
      migration_name:
        description: 'migration name. e.g. "import_foo"'
        required: true
      pr_number:
        description: Pull Request Number
        required: false
env:
  TFACTION_TARGET: ${{github.event.inputs.target}}
permissions:
  contents: read
  pull-requests: write
jobs:
  scaffold:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@0d49dd721133f900ebd5e0dff2810704e8defbc6 # v1.8.2
        with:
          app_id: ${{secrets.APP_ID}}
          private_key: ${{secrets.APP_PRIVATE_KEY}}

      - uses: aquaproj/aqua-installer@36dc5833b04eb63f06e3bb818aa6b7a6e6db99a9 # v2.1.2
        with:
          aqua_version: v2.5.2
        env:
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/scaffold-tfmigrate@53c7b2d955a88f1173a59277299be89160332995 # v0.5.24
        with:
          github_app_token: ${{steps.generate_token.outputs.token}}
          migration_name: ${{github.event.inputs.migration_name}}
          pr_number: ${{inputs.pr_number}}
