# This workflow is optional.
name: Create drift issues
on:
  workflow_dispatch:
    inputs: {}
  schedule:
    # daily
    - cron: "0 0 * * *"
jobs:
  create-drift-issues:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.APP_ID}}
          private_key: ${{secrets.APP_PRIVATE_KEY}}
          # issues:write - Create issues
          permissions: >-
            {
              "issues": "write"
            }
          # repository where Drift Detection issues are hosted
          repositories: >-
            ["tfaction-example"]

      - uses: aquaproj/aqua-installer@e2d0136abcf70b7a2f6f505720640750557c4b33 # v3.1.1
        with:
          aqua_version: v2.47.1
        env:
          AQUA_GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}

      - run: tfaction create-drift-issues
        env:
          GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}
