name: Create drift issues
on:
  workflow_dispatch:
    inputs: {}
  # schedule:
  #   # daily
  #   - cron: '0 0 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: aquaproj/aqua-installer@928a2ee4243a9ee8312d80dc8cbaca88fb602a91 # v2.2.0
        with:
          aqua_version: v2.16.4
      - run: tfaction create-drift-issues
        env:
          GITHUB_TOKEN: ${{github.token}}
