# This workflow is optional.
name: Synchronize drift issue description

on:
  issue_comment:
    types:
      - created

jobs:
  sync-issue:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    # CHECK: PLEASE CHANGE github.actor
    if: |
      !github.event.issue.pull_request && startsWith(github.event.issue.title, 'Terraform Drift (') && endsWith(github.event.issue.title, ')') && github.actor == 'suzuki-shunsuke'
    permissions:
      issues: write
    steps:
      - uses: suzuki-shunsuke/tfaction/sync-drift-issue-description@4562d910bbacecf384c8aeda25332284fcf05f38 # v1.20.1
