---
name: Hide comments
on:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
    secrets:
      gh_token:
        required: false
      gh_app_id:
        required: false
      gh_app_private_key:
        required: false
permissions:
  contents: read
  pull-requests: write
env:
  GH_COMMENT_SHA1: ${{inputs.ref}}
jobs:
  hide-comment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{inputs.ref}}
      - uses: suzuki-shunsuke/github-token-action@04d633c696e9d09e958c8b815c75db9606d6d927 # v0.2.0
        id: token
        with:
          github_token: ${{secrets.gh_token}}
          github_app_id: ${{secrets.gh_app_id}}
          github_app_private_key: ${{secrets.gh_app_private_key}}
          default_github_token: ${{github.token}}
      - uses: aquaproj/aqua-installer@928a2ee4243a9ee8312d80dc8cbaca88fb602a91 # v2.2.0
        with:
         aqua_version: v2.17.1
        env:
          AQUA_GITHUB_TOKEN: ${{steps.token.outputs.token}}
      - run: github-comment exec -- github-comment hide
        env:
          GITHUB_TOKEN: ${{steps.token.outputs.token}}
