---
name: Test Modules
on:
  workflow_call:
    inputs:
      modules:
        required: true
        type: string
      ref:
        required: true
        type: string
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true
jobs:
  test-module:
    timeout-minutes: 30
    name: "test-module (${{matrix.target}})"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      TFACTION_TARGET: ${{matrix.target}}
    strategy:
      fail-fast: true
      matrix:
        target: ${{fromJSON(inputs.modules)}}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{inputs.ref}}
          persist-credentials: false

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.gh_app_id}}
          private_key: ${{secrets.gh_app_private_key}}
          # pull_requests:write - Post comments
          # contents:write - Push commits
          permissions: >-
            {
              "pull_requests": "write",
              "contents": "write"
            }
          repositories: >-
            ["${{github.event.repository.name}}"]

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.1
          aqua_opts: -l -a
          working_directory: ${{matrix.target}}
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - uses: suzuki-shunsuke/tfaction/test-module@7f13fd8815c30cde9c665b81e611c8ebdf9217b7 # v1.20.0
        with:
          github_token: ${{steps.generate_token.outputs.token}}
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
