---
name: Test Modules
on:
  workflow_call:
    inputs:
      modules:
        required: true
        type: string
      ref:
        required: true
        type: string
    secrets:
      gh_app_id:
        required: true
      gh_app_private_key:
        required: true
jobs:
  test-module:
    timeout-minutes: 30
    name: "test-module (${{matrix.target}})"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      TFACTION_TARGET: ${{matrix.target}}
    strategy:
      fail-fast: true
      matrix:
        target: ${{fromJSON(inputs.modules)}}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{inputs.ref}}
          persist-credentials: false

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{secrets.gh_app_id}}
          private_key: ${{secrets.gh_app_private_key}}
          # pull_requests:write - Post comments
          # contents:write - Push commits
          permissions: >-
            {
              "pull_requests": "write",
              "contents": "write"
            }
          repositories: >-
            ["${{github.event.repository.name}}"]

      - uses: aquaproj/aqua-installer@5e54e5cee8a95ee2ce7c04cb993da6dfad13e59c # v3.1.2
        with:
          aqua_version: v2.51.2
          aqua_opts: -l -a
          working_directory: ${{matrix.target}}
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - uses: suzuki-shunsuke/tfaction/test-module@18b4dc6d6eced922db7d4eb90ea71330969725d4 # v1.16.1
        with:
          github_token: ${{steps.generate_token.outputs.token}}
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}
