---
name: test
on:
  workflow_call:
    secrets:
      gh_token:
        required: false
      gh_app_id:
        required: false
      gh_app_private_key:
        required: false
      terraform_private_module_ssh_key: # This isn't needed if you don't use SSH key to checkout private Terraform Modules
        required: false
      secrets:
        required: false

env:
  TFACTION_IS_APPLY: 'false'

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      tfmigrate_targets: ${{ steps.list-targets.outputs.tfmigrate_targets }}
      terraform_targets: ${{ steps.list-targets.outputs.terraform_targets }}
      modules: ${{ steps.list-targets.outputs.modules }}
    steps:
      - uses: actions/checkout@v3
      - uses: suzuki-shunsuke/github-token-action@04d633c696e9d09e958c8b815c75db9606d6d927 # v0.2.0
        id: token
        with:
          github_token: ${{secrets.gh_token}}
          github_app_id: ${{secrets.gh_app_id}}
          github_app_private_key: ${{secrets.gh_app_private_key}}
          default_github_token: ${{github.token}}

      - uses: aquaproj/aqua-installer@v2.1.1
        with:
          aqua_version: v2.3.6
        env:
          AQUA_GITHUB_TOKEN: ${{steps.token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/list-targets@v0.5.23
        id: list-targets

  test-module:
    name: "test-module (${{matrix.target}})"
    runs-on: ubuntu-latest
    needs: setup
    # if services is empty, the build job is skipped
    if: "join(fromJSON(needs.setup.outputs.modules), '') != ''"
    env:
      TFACTION_TARGET: ${{matrix.target}}
    strategy:
      matrix:
        target: ${{fromJSON(needs.setup.outputs.modules)}}
    steps:
      - uses: actions/checkout@v3
      - uses: suzuki-shunsuke/github-token-action@04d633c696e9d09e958c8b815c75db9606d6d927 # v0.2.0
        id: token
        with:
          github_token: ${{secrets.gh_token}}
          github_app_id: ${{secrets.gh_app_id}}
          github_app_private_key: ${{secrets.gh_app_private_key}}
          default_github_token: ${{github.token}}

      - uses: aquaproj/aqua-installer@v2.1.1
        with:
          aqua_version: v2.3.6
          aqua_opts: -l -a
          working_directory: ${{matrix.target}}
        env:
          AQUA_GITHUB_TOKEN: ${{steps.token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/test-module@v0.5.23
        with:
          github_app_token: ${{steps.token.outputs.token}}

  tfmigrate-plan:
    name: "tfmigrate-plan (${{matrix.target.target}})"
    runs-on: ${{matrix.target.runs_on}}
    needs: setup
    # if services is empty, the build job is skipped
    if: "join(fromJSON(needs.setup.outputs.tfmigrate_targets), '') != ''"
    strategy:
      matrix:
        target: ${{fromJSON(needs.setup.outputs.tfmigrate_targets)}}
    env:
      TFACTION_TARGET: ${{matrix.target.target}}
      TFACTION_JOB_TYPE: tfmigrate
    steps:
      - uses: actions/checkout@v3
      - uses: suzuki-shunsuke/github-token-action@04d633c696e9d09e958c8b815c75db9606d6d927 # v0.2.0
        id: token
        with:
          github_token: ${{secrets.gh_token}}
          github_app_id: ${{secrets.gh_app_id}}
          github_app_private_key: ${{secrets.gh_app_private_key}}
          default_github_token: ${{github.token}}

      - uses: aquaproj/aqua-installer@v2.1.1
        with:
          aqua_version: v2.3.6
        env:
          AQUA_GITHUB_TOKEN: ${{steps.token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/export-secrets@v0.5.23
        with:
          secrets: ${{secrets.secrets}}

      # This is required to download private modules in `terraform init`
      - run: gh auth setup-git
        env:
          GITHUB_TOKEN: ${{steps.token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/setup@v0.5.23
        with:
          github_app_token: ${{steps.token.outputs.token}}
          ssh_key: ${{secrets.terraform_private_module_ssh_key}} # This isn't needed if you don't use SSH key to checkout private Terraform Modules

      - uses: suzuki-shunsuke/tfaction/test@v0.5.23
        with:
          github_app_token: ${{steps.token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/tfmigrate-plan@v0.5.23
        with:
          github_app_token: ${{steps.token.outputs.token}}

  terraform-plan:
    name: "terraform-plan (${{matrix.target.target}})"
    runs-on: ${{matrix.target.runs_on}}
    needs: setup
    # if services is empty, the build job is skipped
    if: "join(fromJSON(needs.setup.outputs.terraform_targets), '') != ''"
    strategy:
      fail-fast: true
      matrix:
        target: ${{fromJSON(needs.setup.outputs.terraform_targets)}}
    env:
      TFACTION_TARGET: ${{matrix.target.target}}
      TFACTION_JOB_TYPE: terraform
    steps:
      - uses: actions/checkout@v3
      - uses: suzuki-shunsuke/github-token-action@04d633c696e9d09e958c8b815c75db9606d6d927 # v0.2.0
        id: token
        with:
          github_token: ${{secrets.gh_token}}
          github_app_id: ${{secrets.gh_app_id}}
          github_app_private_key: ${{secrets.gh_app_private_key}}
          default_github_token: ${{github.token}}

      - uses: aquaproj/aqua-installer@v2.1.1
        with:
          aqua_version: v2.3.6
        env:
          AQUA_GITHUB_TOKEN: ${{steps.token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/export-secrets@v0.5.23
        with:
          secrets: ${{toJSON(secrets)}}

      # This is required to download private modules in `terraform init`
      - run: gh auth setup-git
        env:
          GITHUB_TOKEN: ${{steps.token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/setup@v0.5.23
        with:
          github_app_token: ${{steps.token.outputs.token}}
          ssh_key: ${{secrets.terraform_private_module_ssh_key}} # This isn't needed if you don't use SSH key to checkout private Terraform Modules

      - uses: suzuki-shunsuke/tfaction/test@v0.5.23
        with:
          github_app_token: ${{steps.token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/terraform-plan@v0.5.23
        with:
          github_app_token: ${{steps.token.outputs.token}}
