---
name: update-aqua-checksums
on:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
    secrets:
      gh_token:
        required: false
      gh_app_id:
        required: false
      gh_app_private_key:
        required: false
jobs:
  update-aqua-checksums:
    # Update aqua-checksums.json and push a commit
    uses: aquaproj/update-checksum-workflow/.github/workflows/update-checksum.yaml@9ccbd9ade4e8b92b0dd5757cacf6cd3ebcf7d876 # v0.1.8
    permissions:
      contents: read
    with:
      aqua_version: v2.17.1
      prune: true
      ref: ${{inputs.ref}}
    secrets:
      gh_token: ${{secrets.gh_token}}
      gh_app_id: ${{secrets.gh_app_id}}
      gh_app_private_key: ${{secrets.gh_app_private_key}}
